<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkt.bookstore.dao.BookDao" >
    <resultMap id="BaseResultMap" type="com.zkt.bookstore.entity.Book" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="url" property="url" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, price, url
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_book
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_book
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zkt.bookstore.entity.Book" >
        insert into t_book (name, price,url)
        values (#{name,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE},
        #{url,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.zkt.bookstore.entity.Book" >
        insert into t_book
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                name,
            </if>
            <if test="price != null" >
                price,
            </if>
            <if test="url != null" >
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zkt.bookstore.entity.Book" >
        update t_book
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zkt.bookstore.entity.Book" >
        update t_book
        set name = #{name,jdbcType=VARCHAR},
        price = #{price,jdbcType=DOUBLE},
        url = #{url,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getBookList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_book
        <where>
            1=1
            <if test="name != null" >
                and name like CONCAT(#{name},'%')
            </if>
        </where>
    </select>
</mapper>